  </div>
  <footer>
    <img src="img/img-footer.png" alt="" width="100%">
  </footer>
  {{!-- scripts --}}
  <script src="dist/js/bootstrap.js"></script>
  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>