{{>header}}
    {{{mostrar}}}
    <br>
    <h1 class="text-center">Conoce Nuestros Cursos</h1>
    <br>
    
    {{!-- {{{inscribirse ced nom correo telefono idcurso}}} --}}
    <br>
    <div class="accordion accordion-flush" id="accordionExample">
        {{{listOfer todosLosCursos}}}
    </div>
    
    <br>
{{>footer}}
  